<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Browser Miner - Mine cryptocurrency directly in your browser</title>
    <script defer="defer" src="/js/chunk-vendors.333544ce.js"></script>
    <script defer="defer" src="/js/app.a6acb2fa.js"></script>
</head>
<body><noscript><strong>We're sorry but malphite-webminer doesn't work properly without JavaScript enabled. Please
            enable it to continue.</strong></noscript>
    <div id="app"></div>
</body>
</html>